<div fxLayout="row center" style="width: 80vw; height: 80vh;" fxFlexFill>
	<div *ngFor="let vente of products" fxFlex="25">
		<mat-card *ngIf="vente !== undefined" routerLink='/produit/{{vente.p_uid}}' style="width: 15vw">
			<mat-card-title-group>
				<mat-card-title style="font-size: medium; text-transform: capitalize;">{{vente.title.replace("-"," ")}}</mat-card-title>
				<mat-card-subtitle>
					<div *ngFor="let i of [0,1,2,3,4]" style="display: inline-block; align-items: stretch;">
						<mat-icon *ngIf="i>=vente.notation-1">star_outline</mat-icon>
						<mat-icon *ngIf="i<vente.notation-1">star</mat-icon>
					</div>
					<div style="display: inline-block; align-items: stretch;">
						({{vente.sales}})
					</div>
				</mat-card-subtitle>
				<img mat-card-sm-image src="{{vente.images[0]}}">
			</mat-card-title-group>
			<mat-card-content>
				{{vente.description}}
			</mat-card-content>
			<mat-card-actions>
				Prix de vente : {{vente.price}} €
			</mat-card-actions>
		</mat-card>
	</div>
</div>

<mat-paginator [length]="100"
              [pageSize]="20"
              [hidePageSize]="true"
              [showFirstLastButtons] ="true"
              [pageSizeOptions]=""
              aria-label="Select page">
</mat-paginator>