
<div class="footer mat-app-background" >
    <span class="title">Tombe Du Camion</span>

    <p class="foot-content">
        Tombe Du Camion est un site internet de dropshipping, ou presque.
        Illégal ou non, arnaque ou pas, vous trouverez tout ce que vous souhaitez sur notre site.
        Les propriétaires ne peuvent être tenus responsables du contenu du site et des interactions entres utilisateurs.
    </p>

    <ul class="socials">

        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="https://github.com/FC-Dijkstra/TombeDuCamion_CWA"><i class="fa fa-github-square"></i></a></li>
    </ul>

    <div class="footer-bottom">
        <p>&copy;2022 FC Dijkstra</p>
    </div>
</div>
