<div class="secondBgCol" style="text-align: auto; ">
	<button mat-button routerLink="/accueil" style="margin-left:16px; margin-right:16px; margin-top:16px; width:64px; height:64px; background: url(./assets/img/Camion.png); background-size: 64px 64px;"></button>
	<mat-form-field floatLabel="never">
		<input matInput placeholder="Rechercher">
	</mat-form-field>
	<button mat-button routerLink="/lol">LOL</button>
	<button mat-button routerLink="/test-api">test api</button>
	<button mat-button routerLink="/mdr">Compte</button>
	<button mat-button routerLink="/panier" (mouseover)="panierOuvert = true" (mouseout)="panierOuvert = false"
		cdkOverlayOrigin #trigger="cdkOverlayOrigin" style="right: 0;">
		<mat-icon matBadge="1" matBadgeColor="accent">shopping_cart</mat-icon>
	</button>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="panierOuvert">
	<div class="overlayPanier" style="width:300px">
		<ul class="example-list">
			<li>Hand Spinner x1</li>
		</ul>
	</div>
</ng-template>

<div style="margin-left: 10% ; margin-right: 10%;">
	<router-outlet></router-outlet>
</div>
