<h1>Resultats de recherche pour "{{ rech }}"</h1>

<div *ngFor="let vente of products" style="display: inline-block; align-items: stretch;">
	<mat-card *ngIf="vente !== undefined" routerLink='/produit/{{vente.p_uid}}'>
		<mat-card-title-group>
			<mat-card-title>{{vente.title}}</mat-card-title>
			<img mat-card-sm-image src="{{vente.images[0]}}">
		</mat-card-title-group>
		<mat-card-content>
			{{vente.description}}
		</mat-card-content>
		<mat-card-actions>
			Prix de vente : {{vente.price}} €
		</mat-card-actions>
	</mat-card>
</div>

<mat-paginator [length]="totalCount" [pageSize]="16" [pageSizeOptions]="[16, 32, 64]" (page)="getServerData($event)"
	aria-label="Select page">
</mat-paginator>
