
<mat-drawer-container>
    <mat-drawer #drawer mode="over" class="secondBgCol">
        <mat-list>
            <mat-list-item>
                <button mat-button routerLink="/accueil">Accueil</button>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <button mat-button routerLink="/lol">LOL</button>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <button mat-button routerLink="/test-api">test api</button>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <button mat-button routerLink="/mdr">Compte</button>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>Item 1</mat-list-item>
        </mat-list>
    </mat-drawer>


    <mat-drawer-content>
        <div class="secondBgCol" style="text-align: auto;">
            <button mat-button (click)="drawer.toggle()">
                <mat-icon>list</mat-icon>
            </button>

            <mat-form-field floatLabel="never">
                <input matInput placeholder="Rechercher">
            </mat-form-field>
        </div>
        <div style="margin-left: 10% ; margin-right: 10%; height:100%;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>

</mat-drawer-container>


  