<h1>Tombé du Camion, pas du dropshipping mais presque</h1>

<div *ngFor="let _ of startIndex; let idx = index">
    <h3>Meilleures Ventes</h3>

    <div style="display:flex; justify-content: center; align-items: center;">
        <button (click)="subIndex(idx);" mat-fab style="display: inline-block;">
            <mat-icon>chevron_left</mat-icon>
        </button>
        
        <div *ngFor="let vente of getVentes(idx);" style="display: inline-block;">
            <mat-card *ngIf="vente !== undefined" routerLink='/produit/{{vente.p_uid}}'>
                <mat-card-title-group>
                    <mat-card-title>{{vente.title}}</mat-card-title>
                    <img mat-card-lg-image src="{{vente.images[0]}}" >
                </mat-card-title-group>
                <mat-card-content>
                {{vente.description}}
                </mat-card-content>
                <mat-card-actions>
                    Prix de vente : {{vente.price}} €
                </mat-card-actions>
            </mat-card>
        </div>
        
        <button (click)="addIndex(idx);" mat-fab style="display: inline-block; ">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>
