<h1>Tombé du Camion, pas du dropshipping mais presque</h1>

<h3>Meilleures Ventes</h3>

<div style="display:flex; justify-content: center; align-items: center;">
    <button (click)="subIndex();" mat-fab style="display: inline-block;">
        <mat-icon>chevron_left</mat-icon>
    </button>
    
    <div *ngFor="let vente of getVentes();" style="display: inline-block;">
        <mat-card *ngIf="vente !== undefined">
            <mat-card-title-group>
                <mat-card-title>{{vente.name}}</mat-card-title>
                <img mat-card-lg-image src="{{vente.src}}" >
            </mat-card-title-group>
            <mat-card-content>
            {{vente.description}}
            </mat-card-content>
            <mat-card-actions>
                {{vente.rating}} / 5, Prix de vente : {{vente.price}} €
            </mat-card-actions>
        </mat-card>
    </div>
    
    

    <button (click)="addIndex();" mat-fab style="display: inline-block; ">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>

