.content {
	border-radius: 0;
}

.bouton {
	margin-top: auto;
	margin-bottom: auto;
	display: block;
}

.container {
	display: flex;
	justify-content: space-evenly;
}

.accueil {
	padding-left: 2%;
	padding-right: 2%;
	height: 100%;
}
