table
{
    border-collapse: collapse;
}
th, td
{
    border: 1px solid black;
    padding: 10px 60px;
}
th{
    background-color : #4F6D7A;
}
#infos{
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#act{
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid black;
}
