<div class="background-color-primary">
	<button mat-button routerLink="{{DATA.redirection}}/accueil"
		style="margin-left:16px; margin-right:16px; margin-top:16px; width:64px; height:64px; background: url(./assets/img/Camion.png); background-size: 64px 64px;"></button>
	
	<mat-form-field floatLabel="never">
		<mat-select value="Categories">
			<mat-option value="Categories">Categories</mat-option>
			<mat-option *ngFor="let cat of CATEGORIES" [value]="cat">{{cat}}</mat-option>
		</mat-select>
	</mat-form-field>	
  
	<mat-form-field>
		<input matInput id="src_input" placeholder="Rechercher" [(ngModel)]="value" (input)="updateRoute();">
		<button matSuffix [disabled]="value==''" mat-icon-button aria-label="Clear" routerLink="{{DATA.redirection}}/recherche/{{value}}">
			<mat-icon>send</mat-icon>
		</button>
	</mat-form-field>

	<!--<button mat-button routerLink="{{DATA.redirection}}/lol">LOL</button>-->
	<!--<button mat-button routerLink="{{DATA.redirection}}/test-api">test api</button>-->
	
	<button mat-button style="position: relative; left: 48vw;" routerLink="{{DATA.redirection}}/newSell">Ajouter une vente</button>
	<button mat-button style="position: relative; left: 48vw;" routerLink="{{DATA.redirection}}/compte">Compte</button>
	<button mat-button style="position: relative; left: 48vw;" routerLink="{{DATA.redirection}}/panier" 
		(mouseover)="panierOuvert = true" (mouseout)="panierOuvert = false"
		cdkOverlayOrigin #trigger="cdkOverlayOrigin">
		<mat-icon [matBadge]="panier.length" matBadgeColor="accent">shopping_cart</mat-icon>
	</button>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="panierOuvert">
	<div class="overlayPanier" style="width:300px">
		<ul class="example-list">
			<li *ngFor="let item of panier;">
				{{item.product.title}} x{{item.count}} : {{item.count * item.product.price}} €
			</li>
		</ul>
		<p>Total : {{total}} €</p>
	</div>
</ng-template>

<div style="margin-left: 10% ; margin-right: 10%;" [@routeAnimations]="prepareRoute(outlet)">
	<router-outlet #outlet="outlet"></router-outlet>
</div>
