<mat-toolbar color="primary">
	<button mat-button routerLink="{{DATA.redirection}}/accueil" class="logo"></button>
	<span>Tombé du Camion</span>
	<mat-form-field class="navbar-content">
		<mat-label>Catégorie</mat-label>
		<mat-select value="Categories" [(ngModel)]="cat">
			<mat-option value="Categories">Categories</mat-option>
			<mat-option *ngFor="let cat of CATEGORIES" [value]="cat">{{cat.replaceAll('-', ' ')}}</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field class="navbar-content">
		<input matInput type="search"  id="src_input" placeholder="Rechercher" [(ngModel)]="value" (input)="updateRoute();">
		<button matSuffix [disabled]="value==''" mat-icon-button aria-label="Clear"  [routerLink]="[DATA.redirection ,'/recherche']" [queryParams]="{str: value, cat: cat}">
			<mat-icon>send</mat-icon>
		</button>
	</mat-form-field>

	<span class="spacer"></span>
	<!--<button mat-button routerLink="{{DATA.redirection}}/lol">LOL</button>-->
	<!--<button mat-button routerLink="{{DATA.redirection}}/test-api">test api</button>-->

	<mat-slide-toggle class="darkmode" color="accent" (click)="toggleDarkMode()"><i class="fa fa-moon-o icon"></i></mat-slide-toggle>

	<button mat-button  routerLink="{{DATA.redirection}}/newSell">Ajouter une vente</button>
	<button mat-button  routerLink="{{DATA.redirection}}/compte" *ngIf="connected">Compte</button>
	<button mat-button 	routerLink="{{DATA.redirection}}/connexion" *ngIf="!connected">Connexion</button>
	<button mat-button  routerLink="{{DATA.redirection}}/panier"
		(mouseover)="panierOuvert = true" (mouseout)="panierOuvert = false"
		cdkOverlayOrigin #trigger="cdkOverlayOrigin">
		<mat-icon [matBadge]="panier.length" matBadgeColor="accent">shopping_cart</mat-icon>
	</button>
</mat-toolbar>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="panierOuvert">
	<mat-card class="overlayPanier" style="width:300px">
		<mat-card-title>Panier</mat-card-title>
		<ul class="example-list">
			<li *ngFor="let item of panier;">
				{{item.product.title}} x{{item.count}} : {{item.count * item.product.price}} €
			</li>
		</ul>
		<p>Total : {{total}} €</p>
	</mat-card>
</ng-template>

