.spacer {
	flex: 1 1 auto;
}

.navbar-content {
	font-size: 14px;
	margin-top: auto;
	margin-left: 1%;
}

.logo {
	width:64px;
	height:64px;
	background-image: url("../../../../assets/img/Camion.png");
	background-size: 64px 64px;
}

.darkmode{
	margin-right: 1%;
}

.icon {
	width: 2vw;
	padding-left: 30%;
}
