<h4 *ngIf="panier.TabProduits.length === 0" class="TabHeaderml-4"  >Votre panier est vide.</h4>
<h4 *ngIf="panier.TabProduits.length >=1" class="TabHeader ml-4"  >Votre panier contient {{panier.TabProduits.lenght}} articles.</h4>
<div *ngIf="panier.TabProduits.length !== 0" class="cart-overlay">
  <div class="product" style="display: flex;">
    <div class="cart-content">
   
      <div class="cart-item" *ngFor="let item of cartItems">
        <img  src="{{product.url}}" class="product-img" alt="item">
        <div>
          <h4>{{product.title}}</h4>
          <h4 style="padding-top: 15px;">{{product.price}}
            <span class="discPrice ml-4">{{product.description}}</span>
          </h4>
        </div>
        <div class="counter mx-auto my-auto">
          <i class="fa fa-plus mt-4" aria-hidden="true" (click)="ControlIncrement(product)"></i> // bouton +
          <p class="item-amount mt-4">{{product.stock}}</p>
          <i class="fa fa-minus mt-4" aria-hidden="true" (click)="ControlDecrement(product)"></i> // bouton - 
        </div>
        <span class="remove-item" class="makebold" style="cursor:pointer" (click)="ControlRemoveProduct(product)" >Remove</span> //bouton supprimer le bloc dans le panier
      </div>
      
    </div>
</div>
</div>
