<h4 *ngIf="panier.getProductFromTab().length === 0" class="TabHeaderml-4"  >Votre panier est vide.</h4>
<h4 *ngIf="panier.getProductFromTab().length >=1" class="TabHeader ml-4"  >Votre panier contient {{panier.getProductFromTab().length}} articles.</h4>
<div *ngIf="panier.getProductFromTab().length !== 0" class="cart-overlay">
  <div class="panier">
      <div class="cart-content">
          <mat-card *ngFor="let item of TabProducts ; let i = index;">
            <mat-card-title-group>
              <mat-card-title>{{item.product.title}}</mat-card-title>
              <mat-card-subtitle>x{{item.count}}</mat-card-subtitle>
              <img mat-card-sm-image src="{{item.product.images[0]}}">
            </mat-card-title-group>
            <mat-card-actions align="end">
              <button mat-button (click)="ControlRemoveProduct(item)">DEL</button>
              <button mat-button (click)="ControlDecrement(item)">-</button>
              <button mat-button (click)="ControlIncrement(item)">+</button>
            </mat-card-actions>
          </mat-card>
      </div>

      <div class="controles">
        <span>Informations de livraison</span>
        <mat-form-field>
          <mat-label>Nom & Prénom</mat-label>
          <input matInput type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Code Postal</mat-label>
          <input matInput type="number" maxlength="5">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Adresse</mat-label>
          <input matInput type="text">
        </mat-form-field>


        <span>Carte Bancaire</span>
        <mat-form-field>
          <mat-label>Nom & Prénom</mat-label>
          <input matInput type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Numéro</mat-label>
          <input matInput type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Date d'expiration</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Code</mat-label>
          <input matInput type="number" maxlength="3">
        </mat-form-field>


        <button mat-raised-button color="warn" (click)="acheter()">
          PAYER
        </button>

      </div>
  </div>
</div>
