.controles {
	display: flex;
	justify-content: space-evenly;
}
.produit {
    border: solid 1px black;
	width: 90%;
	margin: 2%;
	min-height: 15vh;
}

.resultats {
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 80vw;
	min-height: 80vh;
}



    